<form [formGroup]="loginForm" (submit)="login()" *ngIf="!isAuthorized">

  <div>
    <label for="email">
      ელ-ფოსტა
    </label>
    <input formControlName="email" id="email" placeholder="შეიყვანეთ ელ-ფოსტა">
  </div>

  <div>
    <label for="password">
      პაროლი
    </label>
    <input formControlName="password" id="password" placeholder="შეიყვანეთ პაროლი">
  </div>

  <div>
    <button type="submit">
      ავტორიზაცია
    </button>
  </div>

  <div *ngIf="loading">
    იტვირთება მონაცემები...
  </div>

</form>

<div *ngIf="user">
  გამარჯობა, {{ user?.name }}
</div>
